@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=<c2FwLUM1MzAyMDM4NDo5YjVDMEcwWTJ3dHh2QzhBVktZSTBWT2RObW1Qb3NvYg==>
always-auth=true