<ng-container *ngIf="product$ | async as product">
  <div class="d-flex align-items-center justify-content-between">
    <h1>{{ product.name }}</h1>
    <h3>{{ product?.price?.formattedValue }}</h3>
    <!-- <p>{{product | json}}</p> -->
    <!-- <p>{{ product?.averageRating }}</p> -->
    <div>
      <cx-star-rating
        [rating]="product?.averageRating ?? 0"
        [disabled]="true"
      ></cx-star-rating>
      <span>Read all {{ product?.numberOfReviews }} reviews</span>
    </div>
  </div>
</ng-container>
