<section class="product_outer_wrapper float-left w-100" >
  <div class="container-fluid">
    <h2 class="mb-3">This Week's Highlights</h2>
    <!--<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" *ngFor="let product of products">
      <mat-tab label="{{product.manufacturer}}">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">{{ product.name }} <br> {{ product.price?.formattedValue }}</div>
              <div class="product_add_info float-left w-100 mt-2">Number of Reviews: {{ product.numberOfReviews }}</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Mobile">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
              <div class="product_add_info float-left w-100 mt-2">Avail up to ₹ 6000* bank account</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="TV">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-6 text-center">
            <div class="product_info float-left w-100">
              <img src="..\assets\img\samsung.png" height="510">
            </div>
            <div class="product_info_details float-left w-100 text-center">
              <div class="product_name float-left w-100">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
              <div class="product_add_info float-left w-100 mt-2">Avail up to ₹ 6000* bank account</div>
              <button class="buynow_btn">Buy Now</button>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-6">
            <div class="row">
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
              <div class="col-12 col-sm-6 col-md-6 col-lg-6">
                <div class="product_info float-left w-100 border-radius mb-4">
                  <img src="..\assets\img\samsung.png">
                  <div class="product_sub_name float-left w-100 text-center">Galaxy A35 | A55 5G <br> Starting ₹ 25999*</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>-->
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
      <mat-tab *ngFor="let manufacturer of uniqueManufacturers" [label]="manufacturer">
        <div class="row">
          <div class="col-12 col-sm-4 text-center" *ngFor="let product of getProductsByManufacturer(manufacturer)">
            <div class="product_info w-100">
              <img [src]="product?.imageUrl || '../assets/img/samsung.png'" [alt]="product.name" height="250">
            </div>
            <div class="product_info_details w-100 text-center">
              <div class="product_name w-100">
                {{ product.name }} <br>
                {{ product.price?.formattedValue || 'Price Not Available' }}
              </div>
              <div class="product_add_info w-100 mt-2">
                Number of Reviews: {{ product.numberOfReviews || 0 }}
              </div>
              <button class="buynow_btn" (click)="navigateToProductDetails(product.code)" (click)="scrollToTop()">View More</button>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>    
  </div>
</section>

